<?xml version="1.0" encoding="UTF-8" ?>
<!--
 Copyright (c) 2015 Global Healthcare Exchange, LLC. All rights reserved.
-->
<configuration>
    <appender name="TANDOORI_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ConfigDir}/logs/tandoori.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${ConfigDir}/logs/tandoori.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
